@use '../../App.scss' as main;

/* DIVIDER */
.divider {
  @include main.flex-center;
  margin: 0;

  .circle {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: main.$color-dark-brown;
    margin: 0 0.5rem;
  }
}
