@use '../../App.scss' as main;

/* RESERVATION LIST */
.reservation-list {
  display: flex;
  flex-direction: column;
  // align-items: center;

  &-container {
    background-color: main.$color-light-grey;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    // width: 30rem;
  }

  &-details {
    flex-wrap: wrap;
    padding: 1rem;

    p {
      font-size: 1.6rem;
      font-weight: 450;
      color: main.$color-soft-black;
    }

    span {
      font-weight: bold;
    }
  }

  // &-status {
  //   font-size: 1rem;
  //   font-weight: bold;
  //   color: #2ecc71;
  // }
}
