@use '../../App.scss' as main;

/* RESET PASSWORD */
.reset-password {
  padding: 7.5% 16rem;
  background: url(../../../public/images/our-menu.png) left top no-repeat, url(../../../public/images/our-menu-bg.jpg);

  &-header {
    @include main.header-styles;
    color: main.$color-light-pink;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 3.5rem;
    }
  }

  &-container {
    width: 40%;
    margin: auto auto;
    padding-bottom: 9rem;

    form {
      @include main.flex-center;
      @include main.form-inputs;
      flex-direction: column;

      input:not([type='submit']) {
        width: 70%;
      }

      button {
        width: 70% !important;
        color: main.$color-white;
        background-color: main.$color-orange;
        width: 100%;
        font-size: 1.7rem;
        padding: 0.4rem 3rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: darken(main.$color-orange, 5%);
        }

        @media (max-width: 768px) {
          padding: 0.2rem 0;
          font-size: 1.4rem;
        }
      }
    }

    p {
      color: main.$color-green;
      padding-top: 4rem;
      text-align: center;
      font-size: 1.7rem;
      white-space: pre-line;
    }

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 80%;
    }
  }

  @media (max-width: 991px) {
    padding: 15% 0;
  }

  @media (max-width: 768px) {
    background: url(../../../public/images/our-menu.png) left top no-repeat, url(../../../public/images/our-menu-bg.jpg);
    background-size: 70%, cover;
  }
}
