@use '../../../../App.scss' as main;

/* BACK-OFFICE DASHBOARD CATALOGUE TABLE */
table {
  margin: 0 0 3rem 1rem;
  width: 95%;
  border-collapse: collapse;
  border: 1px solid main.$color-black;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    tr {
      flex-direction: column;

      td,
      th {
        width: 100%;
      }
    }
  }

  thead {
    font-size: 1.6rem;

    @media (max-width: 768px) {
      display: none;
    }

    th {
      background: main.$color-dark-grey;
      color: main.$color-white;
      padding: 0.5rem;
      text-align: left;
      border-bottom: 1px solid main.$color-beige;
      font-weight: bold;
    }
  }

  tbody {
    tr {
      background-color: main.$color-light-grey;

      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
      }

      tr {
        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
        }
      }

      td {
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid main.$color-soft-grey;

        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
        }

        span {
          cursor: pointer;
          font-size: 1.7rem;

          &:last-child {
            margin-left: 1rem;
          }

          &:hover {
            color: main.$color-red;
          }
        }

        img {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid main.$color-dark-grey;
        }

        input {
          width: 100%;
          height: 3rem;
          padding: 0.5rem;
          font-weight: 600;
          background: main.$color-white;
        }
      }
    }
  }
}
