@use '../../App.scss' as main;

/* RESERVATIONS */
.reservation {
  width: 100%;

  h1 {
    color: main.$color-white;
    text-align: center;
    font-size: 4.5rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 3.7rem;
    }
  }

  &-header {
    @include main.flex-center;
    color: main.$color-dark-brown;
    flex-direction: column;
    margin: 2rem 0;

    h3 {
      font-size: 3.5rem;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    h4 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;

      @media (max-width: 991px) {
        font-size: 1.8rem;
      }

      @media (max-width: 768px) {
        font-size: 1.6rem;
        text-align: center;
      }
    }

    p {
      text-align: center;
      font-size: 1.8rem;

      &:last-child {
        margin-top: 2rem;
      }

      @media (max-width: 768px) {
        font-size: 1.4rem;
      }
    }

    @media (max-width: 768px) {
      padding: 0 1rem;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;

    &-image {
      width: 55%;
      background: url(../../../public/images/bookTable.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding-top: 9rem;

      @media (max-width: 991px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-form {
      background: main.$color-soft-black;
      width: 45%;
      padding: 9rem 7%;

      @media (max-width: 991px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        padding-top: 3rem;
        width: 100%;
      }
    }

    &-form-holder {
      @include main.flex-center;

      input,
      option,
      select {
        color-scheme: dark;
        display: block;
        margin: 2rem 0;
        width: 100%;
        background: transparent;
        border-bottom: 0.1rem solid main.$color-light-pink;
        color: main.$color-light-pink;
        font-size: 1.8rem;
        font-weight: 300;
      }
    }

    .error-message {
      @include main.flex-center;
      flex-direction: column;

      p {
        color: main.$color-red;
        font-size: 1.8rem;
      }
    }

    .reservation-inputs {
      @include main.flex-center;
      flex-direction: column;
      width: 65%;

      @media (max-width: 991px) {
        width: 90%;
      }
    }

    .reservation-button {
      @include main.flex-center;
      margin-top: 2rem;
    }
  }
}
