@use '../../App.scss' as main;

/* PROFILE */

// TODO: check responsive sass et rajoute le dedans

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 8% 15%;
  width: 100vw;
  height: 100vh;

  h1 {
    margin: 2% 0 3%;
    font-size: 3.2rem;
    text-align: center;
    color: main.$color-dark-brown;
  }

  p {
    font-size: 1.6rem;
    font-weight: 450;
    color: main.$color-soft-black;
  }

  .orders,
  .reservations {
    width: 60%;
    padding: 2%;
    border-radius: 1rem;
    box-shadow: main.$box-shadow;
    background-color: main.$color-white;

    h2 {
      margin-bottom: 1%;
      font-size: 2.4rem;
      color: main.$color-brown;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 1%;
        font-size: 1.8rem;
        color: main.$color-soft-black;
      }
    }
  }

  .reservations {
    margin-top: 5%;
    background-color: main.$color-white;
  }
}
