@use '../../App.scss' as main;

/* PROFILE */

// TODO: check responsive sass et rajoute le dedans

.profile {
  @include main.flex-center;
  flex-direction: column;
  padding: 0 8% 15rem;

  &-pic {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;

    &:before {
      content: '';
      background: url(../../../public/images//default-profile-pic.jpeg);
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 15rem;
      height: 15rem;
      background-color: rgba(0, 0, 0, 0.2);
      pointer-events: none; /* prevent the click from being blocked */
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    input[type='file'] {
      display: none;
    }

    .delete-btn {
      position: absolute;
      top: 0;
      right: 1rem;
      background-color: transparent;
      color: main.$color-light-pink;
      font-size: 1.7rem;
      cursor: pointer;

      &:hover {
        color: main.$color-grey;
      }
    }
  }

  label {
    font-size: 1.6rem;
    padding: 0.7rem 0;
    cursor: pointer;
    color: main.$color-brown;

    &:hover {
      color: darken(main.$color-dark-brown, 10%);
    }
  }

  h1 {
    margin: 2rem 0;
    font-size: 3.2rem;
    text-align: center;
    color: main.$color-dark-brown;
  }

  .orders,
  .reservations {
    position: relative;
    width: 80%;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: main.$box-shadow;
    background-color: main.$color-white;

    h2 {
      margin-bottom: 1rem;
      font-size: 2.4rem;
      color: main.$color-brown;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: main.$color-soft-black;
      }
    }
  }

  .reservations {
    margin-top: 5rem;
    background-color: main.$color-white;
  }
}
