@use '../../App.scss' as main;

/* PROFILE */

.profile {
  padding: 0 0 35rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;

  h1 {
    margin: 4rem 0 0 0;
    font-size: 3.2rem;
    text-align: center;
    color: main.$color-dark-brown;
  }

  .profile-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 75%;

    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    .orders,
    .reservations {
      width: 80%;
      margin-top: 4.5rem;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: main.$box-shadow;
      background-color: main.$color-white;

      h2 {
        margin-bottom: 1rem;
        font-size: 2.4rem;
        color: main.$color-brown;
      }

      p {
        font-size: 1.6rem;
        font-weight: 450;
        color: main.$color-soft-black;
      }
    }
  }
}
